/* Universal Selectors */
*{
    margin: 0;
    padding: 0;
}

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto&display=swap');


/* Common Styles Or, Utilities */

body{
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
}

.container{
    display: flex;
}

/* ---------------------------------
    header styles
----------------------------- */

#header{
    justify-content: space-around;
    column-gap: 85px;
    margin: 95px 0 50px;
}

/* ---------------------------------
    logo styles
----------------------------- */

.logo h1, #footer h1{
    font-size: 24px;
}

/* ---------------------------------
    nav styles
----------------------------- */

.menu, .clients-list, .star, #footer .social-share{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu{
    column-gap: 34px;
    position: relative;
}
.menu li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
    transition: color 0.3s ease-in;
}
.menu li a:hover{
    color: #000000fd;
}
.menu #search{
    position: relative;
    bottom: -5px;
}
.fas{
    color: #000000;
}
.fa-search{
    font-size: 24px;
}
.fa-cart-plus{
    font-size: 36px;
}

/* ---------------------------------
    start your journey styles
----------------------------- */

#start-your-journey{
    justify-content: center;
}

/* ---------------------------------
    journey-article styles
----------------------------- */

.journey-article{
    width: 582px;
    margin-top: 145px;
}
.journey-article h1{
    font-size: 52px;
}
.journey-article p{
    font-size: 16px;
    font-weight: 600;
    margin: 16px 0;
    line-height: 24px;
}
.link-button{
    font-weight: bold;
    font-size: 16px;
    padding: 10px 24px;
    text-decoration: none;
    color: #d7cfcf;
    background-color: #C62F8C;
    border-radius: 41px;
    display: inline-block;
    transition: color 0.3s ease-in;
}
.link-button:hover, .link-button:hover > .fa-arrow-right{
    color: #ffffff;
}
.fa-arrow-right{
    color: #d7cfcf;
    font-size: 13px;
    margin-left: 8px;
}

/* ---------------------------------
    camera styles
----------------------------- */

.camera{
    width: 475px;
    height: 475px;
    background: url(../images/backgrounds/circle-design.svg) no-repeat center;
    position: relative;
}
#start-your-journey:hover img{
    transform: scale(110%);
}
.camera img{
    position: relative;
    top: 10%;
    left: 4%;
    transition: transform 0.9s ease-in;
}

/* ---------------------------------
    clients styles
----------------------------- */

#clients{
    justify-content: center;
    box-shadow: 0px 0px 2px #ddd;
    margin: 100px 0;
    padding: 36px 61px 34px 62px;
}

/* ---------------------------------
    clients list styles
----------------------------- */

.clients-list{
    column-gap: 60px;
}

/* ---------------------------------
    popular-collection styles
----------------------------- */

#popular-collection{
    flex-direction: column;
    align-items: center;
}
.popular-title{
    font-weight: 600;
    font-size: 28px;
    text-align: center;
}

/* ---------------------------------
    popular-packages styles
----------------------------- */

.popular-packages{
    margin: 50px 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

/* ---------------------------------
    popular-single-package styles
----------------------------- */

.popular-single-package{
    width: 300px;
    padding: 17px 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px #00000026;
    border-radius: 6px;
}

/* ---------------------------------
    popular-thumbnail styles
----------------------------- */

.popular-single-package .popular-thumbnail img{
    vertical-align: middle;
}

/* ---------------------------------
    popular-info styles
----------------------------- */

.popular-info{
    margin-top: 16px;
}
.popular-info h2{
    font-size: 28px;
    font-weight: 500;
    color: #18191F;
}
.popular-info h3{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    line-height: 150%;
    margin-top: 6px;
}
.star{
    column-gap: 2.93px;
}
.star .fas.filled{
    color: #FB8200;
    font-size: 11px;
}
.rating-point{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-left: 8px;
    font-size: 14px;
    color: #5E6366;
    line-height: 22px;
}
.popular-info p{
    width: 196px;
    font-family: Inter;
    font-weight: bold;
    font-size: 14px;
    line-height: 143%;
    color: #787885;
    letter-spacing: 0.018em;
}
.see-more{
    font-size: 16px;
    font-weight: bold;
    color: #C62F8C;
    text-decoration: none;
    text-align: right;
    display: inline-block;
    margin-top: 50px;
}
.see-more .fa-arrow-right{
    color: #C62F8C;
}

/* ---------------------------------
    featured-products styles
----------------------------- */

#featured-products{
    justify-content: center;
    margin: 100px 0;
}

/* ---------------------------------
    featured-product styles
----------------------------- */

.featured-product{
    width: 450px;
}
.featured-product h1{
    font-size: 38px;
    line-height: 60px;
    color: #0A0826;
}
.featured-product p{
    margin: 16px 0;
    width: 97%;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
}
.featured-product .link-button{
    border-radius: 0 20px 0 20px;
}

/* ---------------------------------
    youtube-videos styles
----------------------------- */

.watch-video{
    vertical-align: middle;
}

/* ---------------------------------
    footer styles
----------------------------- */

#footer{
    background-color: #081126;
    color: rgb(255, 255, 255);
    padding: 50px 0;
    flex-direction: column;
    align-items: center;
}
#footer p{
    font-size: 14px;
    color: #D9DBE1;
    margin: 3px 0;
}

/* ---------------------------------
    social-share styles
----------------------------- */

#footer .social-share{
    margin-top: 17px;
    column-gap: 16px;
}
#footer .social-share li a{
    width: 32px;
    height: 32px;
    background-color: #23213C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.filled-icon{
    color: #ffffff;
}

/* --------------------------------------
    Media Queries
--------------------------------- */

/* Mobile Devices */
@media only screen and (max-width: 576px) {
    .container{
        width: 100%;
    }
    #header{
        justify-content: center;
        column-gap: 0;
        margin: 50px 0 0;
    }
    nav .nav, .youtube-videos{
        display: none;
    }
    #start-your-journey{
        flex-direction: column;
        align-items: center;
    }
    .journey-article{
        order: 2;
        width: 75%;
        text-align: center;
        margin-top: 14px;
    }
    .camera{
        order: 1;
        background-size: 330px 330px;
    }
    #clients {
        box-shadow: none;
        padding: 0;
        margin: 70px 0;
    }
    .clients-list{
        column-gap: 25px;
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
    }
    #popular-collection{
        
    }
    .popular-packages{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
    }
    .popular-single-package{
        width: 94%;
        padding-left: 4%;
        padding-right: 4%;
    }
    .popular-single-package .popular-thumbnail img{
        width: 100%;
    }
    .see-more{
        margin-top: 17px;
    }
    #featured-products{
        margin: 50px 0;
    }
    .featured-product{
        text-align: center;
        width: 95%;
    }
}

/* Tablet Devices */
@media only screen and (min-width: 577px) and (max-width: 768px) {}









