/* Universal Selectors */
*{
    margin: 0;
    padding: 0;
}

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto&display=swap');


/* Common Styles Or, Utilities */

body{
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    /*font-family: 'Roboto', sans-serif; 
    font-family: 'Inter', sans-serif;*/
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ---------------------------------
    header styles
----------------------------- */

#header{
    margin: 75px 120px 50px;
}

/* ---------------------------------
    logo styles
----------------------------- */

.logo h1{
    font-size: 24px;
}

/* ---------------------------------
    nav styles
----------------------------- */

.menu, .clients-list{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu{
    column-gap: 34px;
    position: relative;
}
.menu li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
    transition: color 0.3s ease-in;
}
.menu li a:hover{
    color: #000000fd;
}
.menu #search{
    position: relative;
    bottom: -5px;
}
.fas{
    color: #000000;
}
.fa-search{
    font-size: 24px;
}
.fa-cart-plus{
    font-size: 36px;
}

/* ---------------------------------
    start your journey styles
----------------------------- */

#start-your-journey{
    margin: 0 132px 69px 120px;
}

/* ---------------------------------
    journey-article styles
----------------------------- */

.journey-article{
    width: 582px;
}
.journey-article h1{
    font-size: 52px;
}
.journey-article p{
    font-size: 16px;
    font-weight: 600;
    margin: 16px 0;
    line-height: 24px;
}
.link-button{
    font-weight: bold;
    font-size: 16px;
    padding: 10px 24px;
    text-decoration: none;
    color: #ffffff;
    background-color: #E02C6D;
    border-radius: 41px;
    display: inline-block;
}
.fa-arrow-right{
    color: #ffffff;
    font-size: 13px;
    margin-left: 8px;
}

/* ---------------------------------
    camera styles
----------------------------- */

.camera{
    width: 475px;
    height: 475px;
    background: url(../images/backgrounds/circle-design.svg) no-repeat center;
    position: relative;
}
.camera img{
    position: relative;
    top: 5%;
    left: 5%;
}

/* ---------------------------------
    clients styles
----------------------------- */

#clients{
    margin: 0 116px 100px;
    padding: 36px 61px 34px 62px;
    box-shadow: 0px 0px 2px #ddd;
}

/* ---------------------------------
    clients list styles
----------------------------- */

.clients-list{
    column-gap: 60px;
}

/* ---------------------------------
    popular-collection styles
----------------------------- */





