/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto&display=swap');


/* Common Styles Or, Utilities */

body{
    font-family: 'Inter', sans-serif;
    /* font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif; */
}








